<!DOCTYPE html>
<html>

<head>
    <title>How to make a uranium nuke for non-technical people!</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='helment.png') }}">
    <style type="text/css">
        body {
            background-color: lightblue;
        }

        h1 {
            color: white;
            text-align: center;
        }
        h2 {
            color: #000000;
            text-align: center;
        }

        p {
            font-family: verdana;
            font-size: 20px;
        }
    </style>
</head>

<body>
    <h1>How to make a nuke?</h1>
    <h2>Table of contents</h2>
    <ol>
        <li>What is a nuke?</li>
        <li>How to make a nuke?</li>
        <li>Are nukes dangerous?</li>
    </ol>
</body>

</html>